body {
    background-color: #333132;
}


/*INICIO DO HEADER*/
header {
    background-color: #000;
    height: 100px;
    font-family: 'Bodoni Moda', serif;
}

.caixa {
    width: 960px;
    height: 75px;
    position: relative;
    margin: 0 auto;
}

.contorno-logo {
    position: absolute;
    height: 75px;
    top: 0;
    left: 0px;
    margin-top: 10px;
}

.logo {
    width: auto;
    height: 50px;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 5px;
}

.menu-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 35px;
}

nav li {
    display: inline;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    padding: 0 0 0 25px;
}

nav a:hover {
    color: #A90000;
    text-shadow: #fff;
    transition: 0.5s;
}
/*FIM DO HEADER*/


/*INICIO DO INDEX*/
main {
    background-color: #333132;
    width: 960px;
    margin: 0 auto;
}

.banner {
    margin: 0 auto;
}

.banner-principal {
    width:960px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.imagem-banner {
    width: 960px;
    height: 350px;
    margin: 35px 0;
    border: solid 1px #000;
}

.texto-banner { 
    margin: 0 auto;
    font-weight: bold;
    font-size: 35px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000;  
    text-shadow: 2px 2px #fff;
    padding-bottom: 10px;
    position: absolute;
    left: 3.2em;
    top: 5em;
    
}

.texto-index {
    color: #fff;
    width: 960px;
    height: 300px;
    margin: 35px auto;
}

.texto-wrap {
    width: 765px;
    margin: 10px auto;
    font-family: 'Bodoni Moda', serif;
}

.texto-index p {
    padding-bottom: 45px;
}

.botao-orc{
    font-family: 'Bodoni Moda', serif;
    display: block;
    width: 235px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #A90000 ;
    margin: 15px auto 55px ;
    padding: 20px 25px ;
    text-transform: uppercase;
    border: solid 1px #000;
    border-radius: 5px;
}

.botao-orc:hover {
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    transition: 1s;
}

.equipe {
    width:960px;
    height: 450px;
}

.equipe-wrap {
    width: 0 auto;
}

.foto-equipe {
    width: auto;
    height: 360px;
    margin: 15px 17%;
    border: solid 1px #000;
}
/*FIM DO INDEX*/

/*INICIO DO ESTUDIO*/
.titulo-estudio {
    color: #fff;
    text-transform: uppercase;
    margin: 25px;
    font-size: 32px;
}

.mapa {
    margin: 0 25px 25px 25px;
    float: left;
    border-radius: 3px;
    border: 2px solid black!important;
}

.texto-estudio {   
    color: #fff;
    font-size: 16px;
    text-align: left;
    vertical-align:top;
}

.hr1 {
    clear: left;
}

/*FIM DO ESTÚDIO*/

/*INICIO DO FOOTER*/
footer {
    background-color: #000;
    height: 250px;
    text-align: center;
}

.wrap{
    display: inline;
}

.social-wrap{
    display: inline;
    width: auto;
    height: 150px;
}

.social{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0 15px;
    margin: 50px 0;
    font-size: 64px;
    
}
.social:visited {
    color: #fff;
}

.social:hover{
    color: #A90000;
    transition: 0.5s;
}

.limaocode {
    color: #fff;
    text-decoration: none;
}

.limaocode:hover {
    color: #008900;
    transition: 0.5s;
    text-decoration: underline;
}

.texto-footer {
    color: #fff;
}
/*FIM DO FOOTER*/